# General configuration for the init.d scripts,
# not necessarily for JBoss EAP itself.
# default location: /etc/default/jboss-eap

## Location of JDK
# JAVA_HOME="/usr/lib/jvm/default-java"
JAVA_HOME="/apps/{{ jboss_env }}/jdk_latest"

## Location of JBoss SSO
JBOSS_HOME="/apps/{{ jboss_env }}/jboss-eap-7.1"

## The username who should own the process.
JBOSS_USER={{ jboss_env }}

## The mode JBoss EAP should start, standalone or domain
JBOSS_MODE=standalone

## Configuration for standalone mode
JBOSS_CONFIG=standalone-full-ha.xml

## Configuration for domain mode
# JBOSS_DOMAIN_CONFIG=domain.xml
# JBOSS_HOST_CONFIG=host-master.xml

## The amount of time to wait for startup
STARTUP_WAIT=05

## The amount of time to wait for shutdown
SHUTDOWN_WAIT=05

## Location to keep the console log
JBOSS_CONSOLE_LOG="/apps/{{ jboss_env }}/jboss-eap-7.1/standalone/log/console.log"

## Additionals args to include in startup
JBOSS_OPTS="-Djboss.server.base.dir=/apps/{{ jboss_env }}/jboss-eap-7.1/standalone -Djboss.node.name={{ ansible_fqdn }} -b {{ ansible_default_ipv4.address }} -bmanagement {{ ansible_default_ipv4.address }}"